@model Person

<div class="row">
    <div class="col-2">
        @Model.Name
    </div>
    <div class="col-2">
        @Model.PhoneNumber
    </div>
    <div class="col-2">
        @Model.City
    </div>
</div>