@model PeopleViewModel


<div>
    
    <table id="table">
        <tr>
            <th>Namn</th>
            <th>Telefonnummer</th>
            <th>Stad</th>
        </tr>
        @foreach (Person p in Model.People)
        {
          <partial name="_TableRow.cshtml" model="p" />
              

        }
    </table>
</div>


<form asp-action="People" method="post">
    <div asp-validation-summary="All"></div>
    <label asp-for="SearchString">Sök på stad: </label>
    <input asp-for="SearchString" />
    <button type="submit">Filtrera på stad</button>
</form>

